<h1>Top Liked Books in the Past Week</h1>

<% @books.each do |book| %>
  <div>
    <h2><%= link_to book.title, book_path(book) %></h2>
    <p><%= book.body %></p>
    <p>Liked by <%= book.favorites.count %> people</p>
  </div>
<% end %>
